*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(37,37,37);
    background: linear-gradient(0deg, rgba(37,37,37,1) 0%, rgba(166,106,34,1) 25%, rgba(254,157,42,1) 50%, rgba(166,106,34,1) 75%, rgba(37,37,37,1) 100%);
    /* Asegúrate de que el fondo cubra toda la página */
    background-attachment: fixed;
  }
  